.no-data-found {
    height: 65vh;
    // padding-top: 0rem;
}
.content-en {
    position: relative;
    right: 30px;
    font-weight: bold;
}

.content-ar {
    position: relative;
    left: 30px;
    font-weight: bold;
}

.main-heading {
    font-size: 26px;
    font-weight: 700;
}

.label-font {
    font-size: 16px;
    font-weight: 400;
}