<div class="no-data-found d-flex flex-column justify-content-center align-items-center">
    <img src="assets/logo/no_data.png"/>
    
    <div class="mt-3 d-flex flex-column align-items-center">
        <label class="main-heading">
            {{ "NoDataFound.No Data head" | translate }}
        </label>
        <label class="label-font">
            {{ "NoDataFound.No Data Label" | translate }}
        </label>
        <label class="label-font">
            {{ "NoDataFound.No Data Label2" | translate }}
        </label>
    </div>
    
</div>
