<ngx-spinner bdColor = "rgb(144, 212, 250)" size = "default" color = "#1971e5" type = "ball-grid-beat" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<nz-table #nzTable nzShowSizeChanger *ngIf="listArray" [nzData]="listOfDisplayData" [nzPageSize]="10"
  [nzTotal]="1000" [nzPageIndex]="1" [nzFrontPagination]="true"
  [nzPageSizeOptions]="[10,20,30,50]" nzBordered="true" nzNoResult="{{ 'RFP.Norecordsfound' | translate }}" class="enhanced-table">
  <thead>
    <tr>
      <th *ngFor="let column of listOfColumn; index as i" [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="cs.userLanguage === 'en' ? column.listOfFilter : column.listOfFilterAr"
        [nzFilterFn]="column.filterFn">
        {{ cs.userLanguage === 'en'? column.title : column.titleAr }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{ data.PurchaseReqNo }}</td>
      <td>{{ data.RfpName }}</td>
      <td>{{ data.DeptText }}</td>
      <td>{{ data.CompetitionType }}</td>
      <td>{{ data.Activity }}</td>
      <td>{{ data.CoordinatorContact }}</td>
      <td>{{ data.AssignedTo }}</td>


      <td *ngIf="data.RfpStatus" [ngClass]="{
        'status-approved': data.RfpStatus === 'A',
        'status-draft': data.RfpStatus === 'D',
        'status-cancelled': data.RfpStatus === 'C',
        'status-returned': data.RfpStatus === 'R',
        'status-submitted': data.RfpStatus === 'S'
      }"> 
        {{ cs.returnStatus(data.RfpStatus === 'C' ? 'Cancel' : data.RfpStatus) }}
      </td>
      <!-- <td [ngStyle]="{
        color: data.SlaInd === 'N' ? 'red' : 'green'
      }">{{ cs.userLanguage === 'en'? data.Sla : data.SlaAr }}</td> -->

      <td style="padding: 0%; padding-inline: 0.5%; text-align: center;">
        <button nz-button nzType="primary" class="mx-1" style="border-color: #fff !important; padding: 4px 12px;"
          (click)="openDetails(data,this.Action)" nzSize="default" nz-tooltip
          nzTooltipTitle="{{ 'RFP.View' | translate }}" nzTooltipPlacement="bottomLeft"
          [nzTooltipArrowPointAtCenter]="true">
          <span nz-icon nzType="eye" nzTheme="outline"></span>
        </button>
      </td>

      <td style="padding: 0%; padding-inline: 0.5%; text-align: center;">
        <button nz-button nz-dropdown [nzDropdownMenu]="actionMenu" nzPlacement="bottomRight" class="action-dropdown-btn">
          <span nz-icon nzType="more" nzTheme="outline"></span>
        </button>
        <nz-dropdown-menu #actionMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="onActionClick('approve', data)">
              <span nz-icon nzType="check-circle" nzTheme="outline"></span>
              Approve
            </li>
            <li nz-menu-item (click)="onActionClick('decline', data)">
              <span nz-icon nzType="close-circle" nzTheme="outline"></span>
              Decline
            </li>
            <li nz-menu-item (click)="onActionClick('transfer', data)">
              <span nz-icon nzType="swap" nzTheme="outline"></span>
              Transfer
            </li>
          </ul>
        </nz-dropdown-menu>
      </td>

      <!-- <td>
        <nz-switch [(ngModel)]="data.isReAnnounced" (ngModelChange)="onReAnnouncedChange(data)">
        </nz-switch>
      </td> -->

    </tr>
  </tbody>
</nz-table>

<!-- <nz-modal [(nzVisible)]="isVisible" nzTitle="Workflow Inbox" (nzOnCancel)="handleCancel()">
  <div *nzModalContent>
  </div>
  <div *nzModalFooter>


    <button nz-button nzType="primary" (click)="handleOk()">Custom Submit</button>
  </div>
</nz-modal> -->
<nz-drawer [nzVisible]="showDetails" [nzWidth]="1180" [nzClosable]="false" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <app-rfpdetails *ngIf="detArray" [Actiondet]="Actiondet" [detArray]="detArray"></app-rfpdetails>
  </ng-container>
</nz-drawer>


<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="{{ 'RFP.search' | translate }}" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">{{ 'RFP.search' |
        translate }}</button>
      <button nz-button nzSize="small" (click)="reset()">{{ 'RFP.Cancel' | translate }}</button>
    </div>
  </div>
</nz-dropdown-menu>



<nz-dropdown-menu #statusMenu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="{{ 'RFP.search' | translate }}" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="searchStatus()" class="search-button">{{ 'RFP.search' |
        translate }}</button>
      <button nz-button nzSize="small" (click)="reset()">{{ 'RFP.Cancel' | translate }}</button>
    </div>
  </div>
</nz-dropdown-menu>