<div class="row mt-2">
    <div class="col-4">
        <button nz-button nzType="primary" (click)="backToDashboard()">
            <span *ngIf="cs.userLanguage === 'en' " nz-icon nzType="left"></span>
            <span class="mx-2" *ngIf="cs.userLanguage === 'ar' " nz-icon nzType="right"></span>
            {{ 'contract.common.BackToDashboard' | translate }}
        </button>
    </div>
    <div class="col-4" style="text-align: center;">
        <h2>{{ 'contract.common.ContractDetails' | translate }}</h2>
    </div>
</div>

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="large"
  color="#1fcecb"
  type="line-scale"
></ngx-spinner>
<div class="container-fluid" style="margin-top: 2rem;">
    <nz-form [formGroup]="ContractForm">
        <div class="create__form__section">
            <div class="row w-100 my-3">

                <div class="col-md-6 mt-2 col-3">
                    <nz-form-label>{{ 'contract.common.ProjectName' | translate }} : </nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="ProjectName" />
                    </nz-form-control>
                </div>

                <div class="col-md-6 mt-2 col-3">
                    <nz-form-label>{{ 'contract.common.ProjectType' | translate }} : </nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <input nz-input disabled value="{{ContractForm.get('ProjectType')?.value | translate}}" />
                    </nz-form-control>
                </div>

                <div class="col-md-6 mt-2 col-3">
                    <nz-form-label>{{ 'contract.common.AwardNumber' | translate }} : </nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="AwardNumber" />
                    </nz-form-control>
                </div>
                <div class="col-md-6 mt-2 col-3">
                    <nz-form-label>{{ 'contract.common.AwardDate' | translate }} : </nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="AwardDate" />
                    </nz-form-control>
                </div>

                <div class="col-md-6 mt-2 col-3">
                    <nz-form-label>{{ 'contract.common.VendorName' | translate }} : </nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="VendorName" />
                    </nz-form-control>
                </div>

                <div class="col-md-6 mt-2 col-3">
                    <nz-form-label>{{ 'contract.Details.ProjectDuration' | translate }} </nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="ProjectDuration" />
                    </nz-form-control>
                </div>

                <div class="col-md-6 mt-2 col-3">
                    <nz-form-label>{{ 'contract.Details.PRnumber' | translate }} : </nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="PRnumber" />
                    </nz-form-control>
                </div>

                <div class="col-md-6 mt-2 col-3">
                    <nz-form-label>{{ 'contract.Details.ContractStartDate' | translate }} </nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="ContractStartDate" />
                    </nz-form-control>
                </div>

                <div class="col-md-6 mt-2 col-3">
                    <nz-form-label *ngIf="isCommRegNum">{{ 'contract.Details.CommercialRegistrationNumber' | translate
                        }} : </nz-form-label>
                    <nz-form-label *ngIf="!isCommRegNum">{{ 'contract.Details.TradeLicNum' | translate }} :
                    </nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="RegNumber" />
                    </nz-form-control>
                </div>
            </div>

            <div class="row w-100 my-3">
                <div class="mt-2">
                    <nz-form-label>{{ 'contract.Details.Description' | translate }} : </nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' nz-input
                            formControlName="ProcessDescription" cols="100" rows="2"></textarea>
                    </nz-form-control>
                </div>
            </div>

            <div class="row w-100 my-3">

                <div class="col-md-4 mt-2 col-3">
                    <nz-form-label>{{ 'contract.Details.TotalAmount' | translate }} </nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="Amount" />
                    </nz-form-control>
                </div>

                <div class="col mt-2">
                    <nz-form-label>{{ 'contract.Details.TotalAmountInWords' | translate }} </nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <input nz-input formControlName="AmountInWords" />
                    </nz-form-control>
                </div>
            </div>

            <div class="row w-100 my-3">
                <div class="mt-2">
                    <nz-form-label nzRequired>{{ 'contract.Comment.Comment' | translate }} : </nz-form-label>
                    <nz-form-control nzHasFeedback [nzErrorTip]="Comment">
                        <div class="d-flex">
                            <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                                nz-input formControlName="Comment" cols="30" rows="2"
                                placeholder="{{ 'contract.Comment.Comment_ph' | translate }}"></textarea>
                            <button class="editBtn">
                                <span class="text-success text-24 mx-2 pointer-click" nz-icon nzType="comment"
                                    nzTheme="outline" nz-tooltip
                                    nzTooltipTitle="{{ 'contract.Comment.Comment_tt' | translate }}"
                                    (click)="showHideComments()"></span>
                            </button>
                        </div>

                        <ng-template #Comment let-control>
                            <ng-container *ngIf="control.hasError('required')">{{ 'contract.Comment.Comment_req' |
                                translate }}
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </div>
            </div>

            <!-- <div class="row w-100" *ngIf="contractDetails">
                <div class="mt-2">
                    <nz-form-label>{{ 'contract.Details.Attachments' | translate }} : </nz-form-label>
                    <div [formGroup]="getAttachFormGroupView(createFGParams)">
                        <file-uploader class="gridInLineFormAttachmentPadding" [paramsPToC]="paramsForDocHandle"
                            (onUploadFile)="onFileUpload($event, '')"></file-uploader>
                    </div>
                </div>
            </div> -->

            <div class="row w-100 my-3" *ngIf="contractDetails">
                <div class="mt-2">
                    <h4>{{ 'contract.Details.Attachments' | translate }} : </h4><br>
                    <div [formGroup]="getAttachFormGroup(createFGParams)">
                        <file-uploader class="gridInLineFormAttachmentPadding" [paramsPToC]="paramsForDocHandle"
                            [username]="user_name" (onUploadFile)="onFileUpload($event, '')"></file-uploader>
                    </div>
                </div>
            </div>

            <div class="footer mb-4">
                <button class="btn-lg mx-4" nz-button nzType="primary" [disabled]="!ContractForm?.valid"
                    (click)="asignOfficer()">
                    {{'contract.buttons.Assign' | translate}}
                </button>
            </div>

        </div>
    </nz-form>
</div>


<!-- Assign officer modal starts -->
<nz-modal [ngStyle]="{ direction :  cs.userLanguage === 'ar' ? 'rtl' : 'ltr'  }" nzCentered [(nzVisible)]="isVisible"
    nzTitle="{{ 'contract.modal.head2' | translate }}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading" nzOkText="{{ 'contract.buttons.Assign' | translate }}">
    <div *nzModalContent>
        <!-- <h4>Legal Unit Head : </h4> -->
        <nz-form-item>
            <nz-form-control [nzSpan]="20" nzHasFeedback>
                <nz-select name="select-validate" [(ngModel)]="selectedOfficer" [ngModel]="'Select the unit head'"
                    (ngModelChange)="log($event)">
                    <nz-option nzDisabled nzDefault nzValue="Select the unit head"
                        nzLabel="{{ 'contract.modal.content2' | translate }}">
                    </nz-option>
                    <nz-option *ngFor="let data of officerList" [nzValue]="data" [nzLabel]="data"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
</nz-modal>
<!-- Assign officer model ends -->

<!-- * Comments model Starts -->
<nz-modal [(nzVisible)]="showComments" [nzTitle]="modalTitle" [nzWidth]="800" [nzContent]="modalContent"
    [nzFooter]="modalFooter" (nzOnCancel)="showHideComments()">
    <ng-template #modalTitle>{{"COM.Comments" | translate}}</ng-template>

    <ng-template #modalContent>
        <!-- <div class="CommentCard" *ngFor="let comment of commentsArray">
            <div class="box">
                <h4>Comment:</h4>
                <p>{{comment.Comments}}</p>
                <h4>Commented By:</h4>
                <p>{{comment.Commenter}}</p>

            </div> -->
        <app-comments [award_number]="award_number"></app-comments>
        <!-- </div>
        <div *ngIf="commentsArray.length == 0" style="text-align: center;">
            <p>No comments</p>
        </div> -->
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="showHideComments()">{{ 'COMMON.Close' | translate }}</button>
    </ng-template>
</nz-modal>
<!-- * Comments model Ends -->