.create__form__section {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-top: 3px solid #1890ff; /* 1fcecb*/
    border-radius: 5px;
    background-color: transparent;
  }
  .page-title {
  font-size: 28px;
  font-weight: 600;
  color: #1f2937; /* dark gray */
  margin-top: 10px;
  border-left: 5px solid #1890ff; /* NZ-Blue Accent 1890ff */
  padding-left: 12px;
}
.rfp-header {
  display: inline-block;
  background: #0b6aa0;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

